.reglage {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.reglageContainer {
  padding: 20px;
}

.content {
  display: flex;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin-right: 20px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  textarea {
    height: 150px;
  }

  .submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.rapports-enregistres {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e2e6ea;
    }

    .rapport-summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nom-appareil {
      font-weight: bold;
    }
  }
}
.reglageContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}